# MULTIPLE LINEAR REGRESSION

In [1]:
import os
os.chdir("C:\\datasciencepractice")

# import Basic Library

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read The data from csv file

In [20]:
df=pd.read_csv("FuelConsumption.csv")
df.head(2)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221

In [21]:
cdf=df[["ENGINESIZE","CYLINDERS","FUELCONSUMPTION_CITY","FUELCONSUMPTION_HWY","FUELCONSUMPTION_COMB","CO2EMISSIONS"]]
cdf.head(5)

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,CO2EMISSIONS
0,2.0,4,9.9,6.7,8.5,196
1,2.4,4,11.2,7.7,9.6,221
2,1.5,4,6.0,5.8,5.9,136
3,3.5,6,12.7,9.1,11.1,255
4,3.5,6,12.1,8.7,10.6,244

# Divide Data train and test

In [23]:
msk=np.random.randn(len(df))<0.8
train=cdf[msk]
test=cdf[~msk]

# Train the Model

In [24]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
train_x=np.asanyarray(train[["ENGINESIZE","CYLINDERS","FUELCONSUMPTION_CITY","FUELCONSUMPTION_COMB"]])
train_y=np.asanyarray(train[["CO2EMISSIONS"]])
reg.fit(train_x,train_y)

print("Coffcient::",reg.coef_)

Coffcient:: [[10.13737869  7.96631209  1.86594278  7.33521135]]

# Predict The model O/p

In [16]:
test_x=np.asanyarray(test[["ENGINESIZE","CYLINDERS","FUELCONSUMPTION_CITY","FUELCONSUMPTION_COMB"]])
test_y=np.asanyarray(test[["CO2EMISSIONS"]])
test_y_hat=reg.predict(test_x)

# Evalution Of Model

In [18]:
print("Resudual Error::%.2f"%np.mean((test_y_hat-test_y)**2))
print("Varience Score ::%.2f"%reg.score(test_x,test_y))

Resudual Error::568.86
Varience Score ::0.85